.section
  margin-bottom 20px

  &_1
    & {$p}__header
      padding 15px 0 35px

    & {$p}__title
      text-align center
      margin 0
      font-size 22px
      line-height 1.25
      display flex
      justify-content center
      align-items center
      text-transform uppercase
      &:before, &:after
        content ''
        border-top 1px solid $green-3
        margin 0 15px
        flex none
        width 30px

    & {$p}__title-inner
      overflow hidden

  @media (min-width $screen-md-min)
    &_1
      & {$p}__title
        &:before, &:after
          width 80px

