include ../components/doctype/doctype
include ../components/header/header
include ../components/content/content
include ../components/footer/footer
include ../components/products-list/products-list
include ../components/news/news
include ../components/vk-widget/vk-widget
include ../components/filters/filters

+doctype(pages.catalogue.title)
  .-wrapper
    +header(false, [pages.catalogue.url, pages.catalogue.url])
    +content
      .container-fluid.-grid._1.affix-col-container
        .row
          .-grid.__col._1.affix-col-position
            .-affix-col
              .-info-order.hidden-xs.hidden-sm
                .__icon.gly.gly-wallet
                .__text Минимальная сумма заказа 500 #[span.rouble a]

              +filters()

          .-grid.__col._2
            | Content

      div &nbsp;
      .container-fluid.-grid._3
        .row
          .-grid.__col._2
            section.-section
              h2.h1.margin-none-top Продажа товаров для творчества
              p.
                Этот текст не несет никакого смысла, текст ради текста, чтобы показать количество информации, которая нужна для этого блока. Потом здесь будет ваш текст (кстати, можете его уже готовить) или текст от нашего копирайтера, который потом нужно будет проверить на фактические ошибки, потому что копирайтер - человек творческий и может написать что-то не то. А еще он не обладает специальными знаниями по вашей теме и напишет то, что нашел в интернете. Этот текст не несет никакого смысла, текст ради текста, чтобы показать количество информации, которая нужна для этого блока.
              p.
                Этот текст не несет никакого смысла, текст ради текста, чтобы показать количество информации, которая нужна для этого блока. Потом здесь будет ваш текст (кстати, можете его уже готовить) или текст от нашего копирайтера, который потом нужно будет проверить на фактические ошибки, потому что копирайтер - человек творческий и может написать что-то не то. А еще он не обладает специальными знаниями по вашей теме и напишет то, что нашел в интернете. Этот текст не несет никакого смысла, текст ради текста, чтобы показать количество информации, которая нужна для этого блока.
              ul
                li.
                  Этот текст не несет никакого смысла, текст ради текста
                li.
                  Этот текст не несет никакого смысла, текст ради текста, чтобы показать количество информации,
                  которая нужна для этого блока. Потом здесь будет ваш текст (кстати, можете его уже готовить)
                  или текст от нашего копирайтера, который потом нужно будет проверить на фактические ошибки,
                  потому что копирайтер - человек творческий и может написать что-то не то.
                  А еще он не обладает специальными знаниями по вашей теме и напишет то, что нашел в интернете.
                  Этот текст не несет никакого смысла, текст ради текста, чтобы показать количество информации,
                  которая нужна для этого блока.

          .-grid.__col._1
            .row
              .col-xs-12.col-sm-6.col-md-12
                +news()

              .col-xs-12.col-sm-6.col-md-12
                +vk-widget()


    +footer