-
  var menuCatalogueList = [
    {title: 'Каталог', url: voidHref, submenu: [
        {title: 'Вышивание', url: voidHref},
        {title: 'Вязание', url: voidHref},
        {title: 'Декупаж', url: voidHref},
        {title: 'Скрапбукинг', url: voidHref},
        {title: 'Шитье', url: voidHref},
        {title: 'Подарки', url: voidHref},
        {title: 'Подарочная упаковка', url: voidHref},
        {title: 'Распродажа', url: voidHref}
      ]
    }
  ];

mixin menu-catalogue(menuCatalogueList)
  // Menu-catalogue
  .-menu-catalogue&attributes(attributes)
    each item in menuCatalogueList
      .__item._lvl_1(class={_submenu: item.submenu})
        a.__btn._lvl_1(href= item.url)
          if item.submenu
            span.__icon._lvl_1(class='icon-menu-3 hidden-xs hidden-sm')
          span.__label._lvl_1= item.title
          if item.submenu
            span.__icon._lvl_1(class='icon-plus-1 hidden-md hidden-lg')
            span.__icon._lvl_1(class='icon-minus-1 hidden-md hidden-lg')
        if item.submenu
          .__submenu._lvl_1(style={display: 'none'})
            each itemInner in item.submenu
              .__item._lvl_2(class={_submenu: itemInner.submenu})
                a.__btn._lvl_2(href= itemInner.url)
                  span.__label._lvl_2= itemInner.title
                  span.__icon._lvl_2(class={'icon-right-open-mini': !itemInner.submenu})
  // /Menu-catalogue