.analogues
  display flex
  margin 0 -27px
  flex-flow row wrap
  align-items flex-start
  &__item
    flex none
    width unquote('calc(25% - 20px)')
    margin 0 10px 10px
    border-radius 10px
    position relative
    padding 17px
    &:before
      content ''
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      background inline-svg('pattern.svg')
  &__img
    width 100%
    border-radius 10px