.menu-foot
  column-count 2
  column-gap 20px
  color #474747
  font-size 14px
  line-height (18/14)em
  margin-bottom -15px

  &__item
    padding-bottom 15px
    page-break-inside avoid

  &__btn
    color inherit
    text-decoration none
    &:hover, &:focus
      color $green-1
      text-decoration none