.working-hours
  width 100%
  margin 15px 0 30px
  &__tr
    border-bottom 1px solid #e5e5e5
  &__td
    padding 10px 0 9px
    &:first-child
      padding-right 10px
    &:last-child
      padding-left 10px
