.product-label
  display inline-block
  vertical-align top
  color black
  font-size (16/$font-size-root)rem
  font-weight 700
  text-transform uppercase
  background inline-image('icon-germany.png') no-repeat 0 0 white
  border-radius 33px 27px 27px 33px
  padding 12px 10px 12px 70px
  text-align left
  min-height 66px