.about
  display flex
  flex-flow row wrap
  margin 0 90px
  p
    margin 0
  &__item
    flex none
    width unquote('calc(100%/3 - 30px)')
    margin 0 15px 15px
    text-align center
    &:before
      content ''
      display block
      height 80px
      background none no-repeat 50% 50%
      margin-bottom 10px
    &:nth-child(1)
      &:before
        background-image inline-svg('icon-delivery.svg')
    &:nth-child(2)
      &:before
        background-image inline-svg('icon-sert.svg')
    &:nth-child(3)
      &:before
        background-image inline-svg('icon-money.svg')
