.header
  flex none
  background #fff
  position fixed
  top 0
  left 0
  width 100%
  z-index $zindex-navbar-fixed
  padding 5px 0
  height 51px
  border-bottom 1px solid #ddd
  box-shadow 0 2px 7px rgba(80, 80, 80, 0.17)

  [class^='col-']
    position static
    min-height 0

  &__logo
    display block
    width 46px
    height 40px
    margin 0 auto

  &__logo-img
    display block
    width 100%

  &__btn-menu
    float left
    width 40px
    height 40px
    margin-left -5px
    font-size 15px
    line-height 1em
    border 1px solid #d4d4d4
    border-radius 2px
    color $green-1
    display block
    &:before, &:after, span
      content ''
      display block
      height 2px
      background $green-1
      margin 2px auto
      width 14px
      border-radius 2px
      transition 0.2s linear
    &:hover, &:focus
      color $green-2
      border-color #c6c6c6
      &:before, &:after, span
        background $green-2
    &_opened
      &:before
        width 18px
        margin 0 auto -2px
        transform rotate(-45deg)
      &:after
        width 18px
        margin -2px auto 0
        transform rotate(45deg)
      span
        margin 0 auto
        height 0

  &__btn-search
    float left
    width 40px
    height 40px
    margin-left 5px
    font-size 17px
    line-height 1em
    border 1px solid #d4d4d4
    border-radius 2px
    color $text-color
    &:hover, &:focus
      color $green-1
      border-color #c6c6c6

  &__btn-cart
    float right
    width 40px
    height 40px
    margin-right 5px
    font-size 17px
    line-height 1em
    border 1px solid #d4d4d4
    border-radius 2px
    color $green-1
    position relative
    &:before
      content attr(data-amount)
      position absolute
      top 1px
      right 1px
      min-width 13px
      height 13px
      border 1px solid $green-1
      border-radius 7px
      text-align center
      line-height 11px
      font-size 10px
      padding 0 2px
      transition inherit
    &:hover, &:focus
      color $green-2
      border-color #c6c6c6
      &:before
        border-color $green-2
    &_active
      &:before
        color white
        background $green-1
      &:hover, &:focus
        &:before
          background $green-2

  &__btn-favorites
    float right
    width 40px
    height 40px
    margin-right -5px
    font-size 17px
    line-height 1em
    border 1px solid #d4d4d4
    border-radius 2px
    color $brown-1
    position relative
    &:before
      content attr(data-amount)
      position absolute
      top 1px
      right 1px
      min-width 13px
      height 13px
      border 1px solid $brown-1
      border-radius 7px
      text-align center
      line-height 11px
      font-size 10px
      padding 0 2px
      transition inherit
    &:hover, &:focus
      color $brown-2
      border-color #c6c6c6
      &:before
        border-color $brown-2
    &_active
      &:before
        color white
        background $brown-1
      &:hover, &:focus
        &:before
          background $brown-2

  &__hidden
    background-color #848484
    color white
    position absolute
    top 51px
    left 0
    width 100%
    max-height calc(100vh - 51px)
    overflow-y auto
    box-shadow 0 2px 7px rgba(80,80,80,0.17)
    display none

  &__hidden-top
    background-color #e4e2e2
    border-bottom 1px solid #ddd
    padding 10px 10px 5px
    clearfix();
    color $text-color
    font-size 14px
    line-height (18/14)em

  &__user-options
    float right
    text-align right
    margin-bottom 5px
    width calc(50% - 10px)
    white-space nowrap
    .icon-user-1
      display inline-block
      vertical-align top
      font-size 13px
      margin-right 10px

  &__btn-sign
    color $text-color
    text-decoration none
    display inline-block
    vertical-align top
    text-overflow ellipsis
    max-width calc(50% - 17px)
    &:hover, &:focus
      color $text-color
      text-decoration none

  &__btn-sign-lbl
    text-overflow ellipsis

  &__btn-sep
    display inline-block
    vertical-align top
    height 10px
    border-left 1px solid
    margin 4px 10px

  &__location
    float left
    margin-bottom 5px
    width calc(50% - 10px)
    .icon-location-inv
      font-size 18px
      margin-right 10px
    .icon-down-open-mini
      font-size 19px
      margin 2px 0 -2px 8px

  &__location-name
    color $brown-1

  &__search
    position absolute
    top 51px
    left 0
    width 100%
    display none
    font-size 14px
    line-height (18/14)em
    padding 5px 10px
    background white
    border-bottom 1px solid #ddd
    box-shadow 0 2px 7px rgba(80,80,80,0.17)

  &__search-inner
    display flex

  &__search-field
    flex none
    size calc(100% - 11px - 38px) 36px
    background-color #f1f1f1
    border 1px solid #d4d4d4
    border-radius 2px
    padding 0 37px 0 10px
    vertical-align top
    transition $transition-duration-base
    &::placeholder
      color #989898
    &:focus
      outline none
      background-color white
      border 1px solid $green-1

  &__search-btn
    flex none
    font-size 17px
    line-height 1em
    size 38px 38px
    margin-left -38px
    position relative
    z-index 1
    &:hover, &:focus
      color $green-1

  &__address
    color #747474
    text-align right
    line-height 1.25
    margin 30px 0 35px
    small
      font-size 13px
      small
        font-size 11px
    strong
      font-size 17px
    a
      color inherit
      text-decoration none
      &:hover, &:focus
        color $green-1
        text-decoration none

  &__address-str
    margin-bottom 5px
    &_1
      margin-bottom 8px


  @media (min-width $screen-md-min)
    position relative
    height auto
    box-shadow none
    padding 0
    border 0

    .social-networks
      float right
      margin -8px 20px 0
      width calc(4/12*100% - 40px)

    &__logo
      width 162px
      height auto
      margin 17px auto 0

    &__btn-cart
      width auto
      height auto
      margin-right percentage(72/215)
      margin-top 71px
      font-size 24px
      border 0
      border-radius 0
      overflow visible
      &:before
        top -15px
        right -21px
        min-width 23px
        height 23px
        border-radius 12px
        line-height 21px
        font-size 13px
        padding 0 4px

    &__btn-favorites
      width auto
      height auto
      margin-right percentage(58px/215)
      margin-top 71px
      font-size 24px
      border 0
      border-radius 0
      overflow visible
      &:before
        top -15px
        right -25px
        min-width 23px
        height 23px
        border-radius 12px
        line-height 21px
        font-size 13px
        padding 0 4px

    &__hidden
      background-color transparent
      color $text-color
      position relative
      top auto
      left auto
      width auto
      max-height none
      overflow-y visible
      box-shadow none
      display block !important

    &__hidden-top
      border-bottom-color #ddd
      background-color transparent
      padding 17px 0 11px
      font-size 14px
      line-height (18/14)em

    &__btn-sign
      &:hover, &:focus
        color $green-1

    &__search
      position relative
      top auto
      left auto
      display block !important
      padding 0
      background transparent
      border-bottom none
      box-shadow none
      margin 57px 10px 57px 0

    &__location
      float left
      margin-bottom 5px
      width calc(4/12*100% - 10px)

    &__user-options
      width calc(4/12*100% - 10px)


