include ../menu/menu
include ../social-networks/social-networks

mixin header(isSignIn, urls)
  // Header
  header.-header&attributes(attributes)
    .container-fluid.-grid._1
      .row
        .-grid.__col._1.hidden-xs.hidden-sm
          a(href=pages.home.url).-header.__logo
            img.__logo-img(src='static/img/general/logo_hobbi.svg', title='Хобби-таемый остров', alt='Хобби-таемый остров')

        .-grid.__col._2
          .row
            .col-md-6
              form.-header.__search(action='')
                .__search-inner
                  input.__search-field(type='search' placeholder='Поиск по товарам')
                  button.__search-btn.btn.gly.gly-search(type='submit')
            .col-xs-12.col-md-3
              button.btn.-header.__btn-menu.hidden-md.hidden-lg(type='button'): span
              button.btn.-header.__btn-search.hidden-md.hidden-lg(type='button'): span.btn__icon.gly.gly-search
              +a().btn.-header.__btn-favorites(class={_active: isSignIn} data-amount=isSignIn ? '127' : '0'): span.btn__icon.icon-heart-empty
              +a().btn.-header.__btn-cart(class={_active: isSignIn} data-amount=isSignIn ? '14' : '0'): span.btn__icon.gly.gly-cart

              a(href=pages.home.url).-header.__logo.hidden-md.hidden-lg
                img.__logo-img(src='static/img/general/logo_hobbi-xs.svg', title='Хобби-таемый остров', alt='Хобби-таемый остров')
            .col-md-3.hidden-xs.hidden-sm
              address.-header.__address
                .__address-str
                  small Приём звонков 10:00-18:00&nbsp;*
                  br
                  small: small *&nbsp;Пн-Пт: время московское
                .__address-str._1
                  strong: a(href='tel:+ 79999999999') + 7 (999) 999 99 99
                .__address-str
                  +aMail('mail@mail.ru')

          .-header.__hidden
            .__hidden-top
              .__location.dropdown
                button.btn.dropdown-toggle(type='button' data-toggle='dropdown')
                  span.btn__icon.icon-location-inv.hidden-md.hidden-lg
                  span.btn__label
                    span.hidden-xs.hidden-sm Ваш город:&nbsp;&nbsp;
                    span.-header.__location-name Краснодар
                  span.btn__icon.icon-down-open-mini.hidden-xs.hidden-sm
                ul.dropdown-menu
                  li: +a() Другой город
                  li.active: +a() Краснодар

              .__user-options
                span.icon-user-1
                +a().__btn-sign=isSignIn ? 'А. Длиннофамильнов' : 'Вход'
                span.__btn-sep
                +a().__btn-sign=isSignIn ? 'Выход' : 'Регистрация'

              +social-networks.hidden-xs.hidden-sm

            +menu(menuList, urls)
  // /Header