.features-2
  display flex
  margin 0 -15px
  flex-flow row wrap
  align-items flex-start
  p
    &:last-child
      margin 0
  &__item
    flex none
    width unquote('calc(25% - 30px)')
    margin 0 15px
    text-align center
  &__title
    margin 0 0 10px
    text-align center
    font-size 24px
    &:after
      content ''
      display block
      size 61px 6px
      background-color #a00000
      border-radius 3px
      margin 10px auto 0
