mixin form-subscribe()
  // Form-subscribe
  form.-form-subscribe(action='')&attributes(attributes)
    .__title Узнайте о новых поступлениях
    input.__field(type='email' placeholder='Введите E-mail')
    button.__btn.btn.btn_4 #[span.btn__label Отправить]
  // /Form-subscribe