.main-slider
  height 320px
  background-color #f1f5f8
  p
    margin 0
  .slick-list, .slick-track, .slick-slide
    height 100%
  .container-fluid
    height 100%
  .slick-arrow
    square 56px
    background-color $green-1
    position absolute
    top 50%
    margin -28px 0
    font-size 22px
    line-height 1em
    padding-top 1px
    color white
    z-index 10
    transition 0.15s
    &:hover, &:focus
      background $red-1
  .slick-prev
    left 0
    padding-right 2px
  .slick-next
    right 0
    padding-left 2px
  &__item
    position relative
  &__img
    position absolute
    top 0
    left 0
    background-position 100% 0
    object-position 100% 0
  &__text
    position absolute
    bottom 0
    left 0
    width 100%
    height 125px
    background rgba(#f1f5f8, 0.7)
    transition opacity 0.3s 0.1s linear
    .loading &
      opacity 0
  &__text-inner
    padding 15px 0
  &__title
    font-size (16/16rem)
    line-height 1.25em
    font-weight 700
    color #37383a
    margin 0 0 10px
    overflow hidden
    max-height @line-height*2
    text-transform uppercase
    border-bottom 20px solid transparent
    background linear-gradient(to right, #c3c5ca, #c3c5ca) no-repeat 0 100%/55px 4px
    box-sizing content-box
    background-origin border-box
  &__caption
    color #707070
    font-size (16/16rem)
    line-height (24/16em)
    overflow hidden
    max-height @line-height*6
    margin-bottom 25px
  &__caption-footer
    margin-top 20px
  &__link
    display inline-block
    font-size (15/16rem)
    line-height 1.1em
    text-decoration none !important
    margin-bottom 12px
    .icon
      display inline-block
      vertical-align top
      font-size (10/16rem)
      margin-left 10px

  @media (min-width $screen-sm-min)
    height 405px
    &__text
      position relative
      width auto
      height 100%
      background linear-gradient(to right, #f1f5f8, transparent 70%)
    &__text-inner
      padding 35px 240px 35px 65px
    &__title
      font-size (26/16rem)
      margin 0 0 25px

  @media (min-width $screen-md-min)
    height 650px
    &__text-inner
      padding 70px 0
      width 58%
    &__title
      font-size (36/16rem)
      margin 0 0 30px
    &__caption
      font-size (17/16rem)
    &__link
      font-size (17/16rem)
      line-height 1.1em
