.sale
  min-width 117px
  height 65px
  padding 23px 10px 0 27px
  display inline-flex
  vertical-align bottom
  align-items center
  justify-content center
  background inline-svg('sale-bg.svg') no-repeat 0 0/100% 100%
  color white
  font-size 24px
  font-weight 700
  text-transform uppercase
  white-space nowrap